<!-- about.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <img src="/static/PCGO.jpg" alt="Logo da Polícia Civil">
        <img src="/static/SIH-GO.jpg" alt="Logo da Superintendência de Identificação Humana">
    </header>

    <!-- Conteúdo principal -->
    <h1>Sobre o Sistema</h1>
    <section>
        <p>O Sistema de Chamados Informática SIH/PC-GO foi desenvolvido para facilitar a gestão e o acompanhamento de chamados técnicos na Superintendência de Identificação Humana da Polícia Civil de Goiás.</p>
        <p>O sistema é voltado para melhorar a comunicação e a eficiência no atendimento técnico, oferecendo ferramentas para administração de usuários, controle de chamados abertos e fechados, relatórios gerenciais, e muito mais.</p>
    </section>

    <!-- Rodapé -->
    <footer>
        <p>Seção Setorial de Informática/SIH-PCGO - Tel: (62) 3201-2706 / 2701 e-mail: informaticapoliciacivil.ii@gmail.com / SEI: 17009</p>
        <p>Sistema desenvolvido por <b>@Geann Gomes</b></p>
    </footer>
</body>
</html>
