<!-- contact.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contato</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <img src="/static/PCGO.jpg" alt="Logo da Polícia Civil">
        <img src="/static/SIH-GO.jpg" alt="Logo da Superintendência de Identificação Humana">
    </header>

    <!-- Conteúdo principal -->
    <h1>Entre em Contato</h1>
    <section>
        <p>Para mais informações ou suporte técnico, entre em contato conosco pelos seguintes canais:</p>
        <ul>
            <li>Telefone: (62) 3201-2706 / 2701</li>
            <li>E-mail: informaticapoliciacivil.ii@gmail.com</li>
            <li>Endereço: Avenida XYZ, Setor ABC, Goiânia - GO</li>
        </ul>
        <p>Estamos disponíveis para ajudá-lo com quaisquer dúvidas ou problemas relacionados ao sistema.</p>
    </section>

    <!-- Rodapé -->
    <footer>
        <p>Seção Setorial de Informática/SIH-PCGO - Tel: (62) 3201-2706 / 2701 e-mail: informaticapoliciacivil.ii@gmail.com / SEI: 17009</p>
        <p>Sistema desenvolvido por <b>@Geann Gomes</b></p>
    </footer>
</body>
</html>
